@charset "utf-8";
/* Hoja de estilos CSS */

#cabeceraweb {
    background-color: blue;
}

#navegacionprincipal {
    background-color: red;
}

#barralateral {
    background-color: green;
}

#contenidoprincipal {
    background-color: purple;
}

#pieprincipal {
    background-color: yellow;
}